#title {
  font-size: 60pt;
  font-family: witchL;
  margin: 20px 0px;
}

#content-area {
  text-align: center;
}

#content-area img:nth-child(1) {
  margin: 30px auto;
}

#content-area img:last-child {
  margin: 30px auto;
  width: 80%;
  object-fit: contain;
}

.picki-img {
  content: url("../img/white/picki-white.webp");
  background-size: contain;
}
