#content-menu--group {
  background-color: white;
}
#content-menu--group > p {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 12.4%,
    rgba(255, 132, 0, 1) 12.5%,
    rgba(255, 132, 0, 1) 24.9%,
    rgba(255, 254, 0, 1) 25%,
    rgba(255, 254, 0, 1) 37.4%,
    rgba(125, 178, 73, 1) 37.5%,
    rgba(125, 178, 73, 1) 49.9%,
    rgba(86, 138, 53, 1) 50%,
    rgba(86, 138, 53, 1) 62.4%,
    rgba(24, 168, 241, 1) 62.5%,
    rgba(24, 168, 241, 1) 74.9%,
    rgba(17, 135, 207, 1) 75%,
    rgba(17, 135, 207, 1) 87.4%,
    rgba(185, 107, 198, 1) 87.5%
  );
}
.font-h2 hr {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 12.4%,
    rgba(255, 132, 0, 1) 12.5%,
    rgba(255, 132, 0, 1) 24.9%,
    rgba(255, 254, 0, 1) 25%,
    rgba(255, 254, 0, 1) 37.4%,
    rgba(125, 178, 73, 1) 37.5%,
    rgba(125, 178, 73, 1) 49.9%,
    rgba(86, 138, 53, 1) 50%,
    rgba(86, 138, 53, 1) 62.4%,
    rgba(24, 168, 241, 1) 62.5%,
    rgba(24, 168, 241, 1) 74.9%,
    rgba(17, 135, 207, 1) 75%,
    rgba(17, 135, 207, 1) 87.4%,
    rgba(185, 107, 198, 1) 87.5%
  ) !important;
  background-color: white;
  border: none;
}

#title-rainbow {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 12.4%,
    rgba(255, 132, 0, 1) 12.5%,
    rgba(255, 132, 0, 1) 24.9%,
    rgba(255, 254, 0, 1) 25%,
    rgba(255, 254, 0, 1) 37.4%,
    rgba(125, 178, 73, 1) 37.5%,
    rgba(125, 178, 73, 1) 49.9%,
    rgba(86, 138, 53, 1) 50%,
    rgba(86, 138, 53, 1) 62.4%,
    rgba(24, 168, 241, 1) 62.5%,
    rgba(24, 168, 241, 1) 74.9%,
    rgba(17, 135, 207, 1) 75%,
    rgba(17, 135, 207, 1) 87.4%,
    rgba(185, 107, 198, 1) 87.5%
  ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
