#content-menu--box {
  border: 3px solid black;
  border-top: none;
}

#color-line {
  border: 3px solid black;
}

#content-menu--group > * {
  font-family: "Vesper Libre";
  border: 2px solid black;
}

.font-tip-title {
  color: gray !important;
}

.font-tip-article {
  color: black;
}

.font-h2 {
  text-decoration-color: black !important;
}
