/*#region PALLETE*/
/* Alex Brush */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
/* Noto Sans KR */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;900&display=swap");
.vesper-libre-regular {
  font-family: "Vesper Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.vesper-libre-black- {
  font-family: "Vesper Libre", serif;
  font-weight: 900;
  font-style: normal;
}
/* tvn 즐거운이야기 */
@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* tvn 즐거운이야기 */
@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Simplehae";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Dangdanghae";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "thehongchawangja";
  src: url("../font/thehongchawangja.ttf");
}

@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GabiaMaeumgyeol";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GabiaMaeumgyeol.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 학교안심 여행, 210 카르페디엠 대체 */
@font-face {
  font-family: "TTHakgyoansimYeohaengR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ghanachoco";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "witchL";
  src: url("../font/witchforestL.ttf");
}

@font-face {
  font-family: "KCC-eunyoung";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

* {
  word-break: keep-all;
}

.color-red {
  color: red;
}
.color-orange {
  color: #fd9f28;
}
.color-deepred {
  color: #ff5100;
}
.color-white {
  color: white;
}
.color-green {
  color: #7db249;
}
.color-disabled {
  color: #a7a7a7;
}
.color-yellow {
  color: #ffcd4a;
}
.color-black {
  color: black;
}
.color-brown {
  color: #914116;
}
.color-purple {
  color: #b96bc6;
}
.color-blue {
  color: #18a8f1;
}

.bg-deepwhite {
  background-color: #eeeeee;
}

.bg-red {
  background-color: #fc5230;
  background: #fc5230;
  border-color: #fc5230;
}

.bg-deepred {
  background-color: #c00000;
  background: #c00000;
  border-color: #c00000;
}

.bg-orange {
  background-color: #fd9f28;
  background: #fd9f28;
  border-color: #fd9f28;
}

.bg-deeporange {
  background-color: #fd6f22;
  background: #fd6f22;
  border-color: #fd6f22;
}

.bg-white {
  background-color: white;
}
.bg-green {
  background-color: #7db249;
  background: #7db249;
  border-color: #7db249;
}
.bg-deepgreen {
  background-color: #456e2a;
  background: #456e2a;
  border-color: #456e2a;
}
.bg-black {
  background-color: black;
}
.bg-purple {
  background-color: #b96bc6;
  background: #b96bc6;
  border-color: #b96bc6;
}

.bg-deeppurple {
  background-color: #541d7a;
  background: #541d7a;
  border-color: #541d7a;
}

.bg-yellow {
  background-color: #ffcd4a;
  border-color: #ffcd4a;
}

.bg-deepyellow {
  background-color: #fd9f28;
  border-color: #fd9f28;
  background: #fd9f28;
}

.bg-brown {
  background-color: #ca591b;
  border-color: #ca591b;
  background: #ca591b;
}

.bg-deepbrown {
  background-color: #914116;
  border-color: #914116;
  background: #914116;
}
.bg-blue {
  background-color: #18a8f1;
  border-color: #18a8f1;
  background: #18a8f1;
}

.bg-deepblue {
  background-color: #0e6ca5;
  border-color: #0e6ca5;
  background: #0e6ca5;
}

.bg-gray {
  background-color: #595959;
}

.bg-rainbow {
  background: rgb(255, 226, 226);
  background: linear-gradient(
    90deg,
    rgba(255, 226, 226, 1) 0%,
    rgba(241, 255, 241, 1) 31%,
    rgba(240, 238, 255, 1) 67%,
    rgba(255, 235, 235, 1) 100%
  );
}

.bg-disabled {
  background: none;
  background-color: #eeeeee;
}

.font-bold {
  font-weight: bold;
}

.font-outline {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.font-h1 {
  font-family: witchL;
  font-size: 80pt;
  text-align: center;
  font-weight: bold;
}

.font-h2 {
  font-family: Cafe24Dangdanghae;
  font-size: 38pt;
  font-weight: bold;
}

.font-h3 {
  font-family: Cafe24Simplehae;
  font-size: 42pt;
}
.font-article {
  font-family: Cafe24Simplehae;
  font-size: 28pt;
  line-height: 1.5em;
}

.font-tip-title {
  font-family: Cafe24SsurroundAir;
  font-size: 25pt;
  margin-bottom: 15px;
}

.font-tip-article {
  font-family: Cafe24Oneprettynight;
  font-size: 18pt;
}

/*#endregion */

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*#region color background start */

#color-line {
  display: inline-block;
  height: 20px;
  width: 100%;
}

#content-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#content-menu--box {
  align-items: center;
  display: flex;
  width: 300px;
  height: 100%;
  flex-grow: 0;
}

#content-menu--group {
  margin-bottom: 200px;
  width: 100%;
  padding: 10px 0px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20pt;
}

#content-menu--group * {
  font-family: GabiaMaeumgyeol;
  margin: 2px auto;
  height: 60px;
  align-items: center;
  line-height: 60px;
}

#content-menu--group > p {
  font-family: ghanachoco;
  font-size: 32pt;
}

#content-menu--group a {
  text-decoration: none;
  color: unset;
}
/*#endregion */

/*#region content start */
#content-area {
  background-color: white;
  overflow: scroll;
  overflow-y: scroll;
  height: calc(100% - 100px);
  width: 100%;
  flex-grow: 1;
}

#article-area > * {
  padding: 10px 30px;
}

#title {
  font-family: "Vesper Libre";
  font-weight: bold;
  padding: 20px 20px;
}

#subtitle-div {
  width: fit-content;
  margin-bottom: 20px;
}

#subtitle-div > div:nth-child(1) {
  height: 80px;
  line-height: 80px;
}
#subtitle-div > div:nth-child(2) {
  height: 50px;
  line-height: 50px;
}

#subtitle-div hr {
  width: 400px;
  border: 2px solid black;
}

#article {
  width: 60%;
}

#article-imgs {
  width: 40%;
  text-align: center;
}

#article-imgs img {
  padding: 20px 10px;
}
/*#endregion */

#article-area {
  display: inline-block;
}

.article-item {
  display: flex;
  height: fit-content;
  margin: 20px 0px;
}

.article-item > * {
  padding: 0px 20px;
}

.article-item hr {
  width: 225px;
  height: 2px;
  margin-bottom: 25px;
}

.article-item--image {
  max-width: 400px;
}

.article-item--image > img {
  position: relative;
  object-fit: contain;
}

.article-item--image > span {
  font-family: KCC-eunyoung;
  position: relative;
  left: 50px;
  bottom: 60px;
  height: 30px;
  font-size: 20pt;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
}

.article-item--toolbar {
  margin: 15px 0px;
  height: 30px;
}

.article-item--toolbar > img {
  height: 100%;
  object-fit: contain;
}

.article-RtoL {
  flex-direction: row-reverse;
  text-align: right;
}

.article-RtoL hr {
  margin-left: auto;
}

.article-item--subtitle {
  margin-bottom: 40px;
}

.article-item--subtitle > hr {
  margin: 20px 0px;
}
/* https://stackoverflow.com/a/62745061 */
