body {
  background: url("../image/mainpage background.jpg");
  background-size: cover;
}

#nav {
  position: fixed;
  height: 100px;
  background-color: transparent;
  z-index: 4;
}

.picki-text {
  color: white;
}

.category-item > * {
  color: white;
}

.category-sub {
  display: none;
}
/*#region Slide */
#slide-area {
  position: relative;
  height: fit-content;
  width: max-content;
  top: 0px;
}

#slide-image-ul {
  position: relative;
}

#slide-image-ul li {
  position: relative;
  float: left;
}

#slide-image-ul img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

#slide-phrase {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  z-index: 2;
}

#slide-phrase--1 {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: "OTEnjoystoriesBA";
  font-size: 65pt;
  color: white;
}

#slide-phrase--2 {
  width: fit-content;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  font-family: "Cafe24Simplehae";
  font-size: 25pt;
  color: white;
}
/*#endregion */

#category {
  padding: 20px 40px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-grow: 1;
}

#main-onepick {
  position: relative;
  top: 20px;
  margin-left: 40px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 40pt;
}

.category--palette {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0px 30px;
}

@media only screen and (min-height: 1090px) {
  #nav {
    background-color: white;
  }
  #nav * {
    color: black;
  }
  .picki-img {
    content: url("../image/home\ black.png");
  }
}
