.font-h2 {
  font-size: 38px;
}

.font-article {
  font-size: 28px;
}

#article-area {
  display: inline-block;
}

/* https://stackoverflow.com/a/62745061 */
#content-area {
  overflow: scroll;
  overflow-y: scroll;
  height: calc(100% - 100px);
}

.article-item {
  display: flex;
  flex-direction: row;
  height: 450px;
  margin: 20px 0px;
}

.article-item > * {
  padding: 0px 20px;
}

.article-item hr {
  width: 175px;
  height: 2px;
  margin-bottom: 25px;
}

.article-item--image {
  max-width: 400px;
}

.article-item--image > img {
  position: relative;
  object-fit: contain;
}

.article-item--image > span {
  font-family: KCC-eunyoung;
  position: relative;
  left: 50px;
  bottom: 60px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
}

.article-item--toolbar {
  margin: 15px 0px;
  height: 30px;
}

.article-item--toolbar > img {
  height: 100%;
  object-fit: contain;
}

.article-RtoL {
  flex-direction: row-reverse;
  text-align: right;
}

.article-RtoL hr {
  margin-left: auto;
}
